:host {
  border: solid 1px dimgray;
  background-color: antiquewhite;

  &:hover div:not(.occupied):not(.pending) {
    cursor: pointer;
  }

  .unit {
    height: 100%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .reserved {
    background-color: aquamarine;
  }

  .occupied {
    background-color: lightcoral;
    cursor: not-allowed;
  }

  .pending {
    background-color: lightgray;
    cursor: wait;
  }
}
